@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.ant-menu {
    font-family: 'Montserrat', sans-serif;
}

.ant-menu-horizontal > .ant-menu-item-selected {
    color: darkgreen !important;
    border-bottom: 2px solid darkgreen !important;
}

.ant-menu:not(.ant-menu-horizontal) > .ant-menu-item-selected {
    background-color: #e0ebe0 !important;
    color: darkgreen !important;
}

.ant-menu-item-selected > a {
    color: darkgreen !important;
}

.ant-menu-item-active {
    border-bottom: 2px solid darkgreen !important;
}

.ant-menu-item-active > a {
    color: darkgreen !important;
}

.ant-menu-submenu-selected {
    border-bottom: 2px solid darkgreen !important;
}

li.ant-menu-item.ant-menu-item-selected::after {
    border-right: none !important;
}

.ant-menu-submenu-popup {
    background-color: white;
}

.ant-divider-horizontal.ant-divider-with-text:before, .ant-divider-horizontal.ant-divider-with-text-left:before, .ant-divider-horizontal.ant-divider-with-text-right:before, .ant-divider-horizontal.ant-divider-with-text:after, .ant-divider-horizontal.ant-divider-with-text-left:after, .ant-divider-horizontal.ant-divider-with-text-right:after {
    border-top: 1px solid #4a4a4a;
}


a {
    color: darkgreen !important;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
